name: Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Set up Go
        uses: actions/setup-go@v6.2.0
        with:
          go-version: '1.25'
          cache: true

      - name: Lint
        uses: golangci/golangci-lint-action@v9.2.0
        with:
          version: latest

      - name: Test (with Testcontainers)
        run: go test -v -timeout 30m ./...
